body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe Script';
}

.header {
    display: flex;
    justify-content: space-between;
    background: lightskyblue;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
}

/* 로고 타이틀(이미지 및 이름) */
.header_logo_title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

/* 로고 이미지 */
.header_logo_img {
    width: 70px;
    height: 70px;
}

.header_menu {
    list-style: none;
    display: flex;
    padding: 1%;
    width: 50%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    gap: 5%;
}

/* x
.header_menu_item {
    font-family: 'Segoe Script';
} 
*/

/* 토글 버튼 */
.fas {
    display: none;
    margin-top: 4px;
    font-size: 40px;
}

/* 링크 밑줄 없애기 */
.link_underline {
    text-decoration-line: none;
}

.link_menu_underline {
    text-decoration-line: none;
}

/* hover 밑줄 나타내기 */
.link_menu_underline:hover {
    font-weight: bold;
    text-decoration-line: underline;
}

/* 반응형 설정 */
@media screen and (max-width:1000px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: 60px;
    }

    .header_logo_title {
        position: absolute;
        bottom: -5px;
        font-size: 40px;
        margin: 0;
        align-items: center;
    }

    .header_logo_img {
        width: 70px;
        height: 70px;
    }

    .header_menu {
        display: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        background-color: lightskyblue;
        position: fixed;
        top: 60px;
        left: 0px;
        border-top: 1px solid rgb(169, 217, 247);
    }

    .header_menu li {
        width: 100%;
        text-align: center;
    }

    .fas {
        position: absolute;
        display: block;
        top: 7px;
        right: 20px;
    }

    .header_menu.active {
        display: flex;
    }
}

.main_imgSlide {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 80vh;
}

.main_imgSlide_img {
    width: 75vw;
    height: 80vh;
}

/* 날씨 div */
.main_weather {
    display: flex;
}

/* 날씨 css */
.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .weather-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 8px;
    padding: 14px;
  }
  
  .weather-inner > div {
    margin-bottom: 7px;
  }

/* 날씨별 장소 img */
.main_weather_img {
    
}