body {
    padding: 0;
    margin: 0;
}

.header_menu {
    list-style: none;
}

/* 링크 밑줄 없애기 */
.link_underline {
    text-decoration-line: none;
}

.link_menu_underline {
    text-decoration-line: none;
}

/* hover 밑줄 나타내기 */
.link_menu_underline:hover {
    font-weight: bold;
    text-decoration-line: underline;
}

